*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: #00A8A3;
}

header{
  background-color: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.218);
  color:#00A8A3;
  justify-content: space-between;
  display: flex;
  
}
header > div{
    padding: 20px;
    display: inline-flex;
    align-items: center;
}

header > div > img {
    max-width: 130px;
    max-height: 130px;
}

header > nav{
   background-color: white;
   align-self: flex-end;

}

nav > ul{
    display: flex;
    padding-bottom: 10px;
    padding-right: 40px;
}


nav > ul >li{
    background-color: white;
    border: black;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

nav > ul > li > a{
    color: #00A8A3;
}


span{
    color: grey;
}

a:link{
    color: #00A8A3;
    text-decoration: none;
}

a:hover   {
    color:#033f3d
}

a:visited{
    background: gray;
}



div.box{
    justify-content: center;
    margin: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.218);
}


h2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: #00A8A3;
}

.content{
    display:flex;
    justify-content: flex-start;
    padding-left: 25px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.inputs{
    border-color: gray;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
}

button{
    color: white;
    background-color: #00A8A3;
    border: none;
    border-radius: 5px;
    width: 100px;
    min-height: 30px;
    align-self: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.218);
    font-weight: bold;
    margin-bottom: 5px;
}

#consulta{
    display:flex;
    justify-content:center;
    padding-left: 25px;
    padding-right: 40px;
    padding-bottom: 20px;
}

table {
    margin: auto;
    color: black;
    border-collapse: collapse;
    border: 1px solid grey;
    width: 95%;
}

#tabela{
    padding-bottom: 10px;
}

td{
    text-align: center;
}

#conteiner{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.coluna{
    margin: 5px;
    padding: 5px;
}

h4{
    padding: 10px;
    color: #00A8A3;

}
